.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #f8f8fa;
  min-height: 100vh;
}

.header {
  padding-bottom: 10px;
  border-bottom: 1px solid #3D3D3D;
  margin-bottom: 30px ;
}

.header a {
  font-size: 15px;
}

.header__logo {
  width: 64px;
  height: 90px;
  background-color: black;
  margin-right: 30px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url("../media/img/logo.jpg");
}

.icon {
  display: flex;
  align-items: center;
}

.number {
  display: none;
}

.header_icon {
  width: 20px;
  margin-right: 20px;
}

.call-back {
  width: 20px;
}

.button {
  padding: 10px 29px;
  border: 1px solid;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.button--header {
  width: 100%;
  margin-top: 30px;
}

.photo-wrap {
  width: 100%;
  height: 100%;
}

.main__img {
  width: 100%;
  height: auto;
  display: block;
}

.button--main {
  width: 100%;
  margin-bottom: 30px;
  padding: 15px 30px;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .header__logo {
    width: 90px;
    height: 120px;
    margin: 0 auto;
  }
  .number {
    display: block;
  }

  .header {
    font-size: 20px;
  }

  .header_icon {
    width: 28px;
  }

  .icon {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 1440px){
  .button--header {
    margin-left: 50px;
  }
}